.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
  }
.error{
    color: #808080;
    width: 100%;
}
 #signupForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    margin: 50px;
    z-index: 1000;
  }
  .container{
      position: absolute;
      top: 50px;
  }
  .explain{
    width: 100% !important;
    position: relative;
    bottom: 14px;
  }
  .welcome{
    position: relative;
    left: 37px;
  }