.parent{
    /* display: flex;
    align-items: row;
    flex-direction: row; */
}
.wineBarsContainer{
    width: 442px;
    display: flex;
    align-items: row;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    top: 400px;
    /* left: 35%; */
    z-index: -1;
}

#zipCodeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.MuiFormControl-root.MuiTextField-root{
    width: 100%;
}
@media (max-width: 630px){
    .wineBarsContainer{
        width: 100%;
        padding: 10px 10px;
    }
}